.inboxBox {
  margin-left: -8px;
  width: 338px;
}

:global(.app-sidebar.collapsed) .inboxBox {
  margin-right: -8px;
}

.windowName {
  margin-top: 12px;
  margin-bottom: 8px;
  margin-left: 8px;
  white-space: nowrap;
  transition: width 50ms;
  transition-delay: 100ms;
  color: var(--section-text-color);
  font-size: 14px;
  font-weight: normal;
  text-overflow: clip;
  overflow: hidden;
  width: 120px;
}

:global(.collapsed) .windowName {
  width: 22px;
}
