@use "./variables" as *;

.whats-new {
  display: flex;
  color: #ff00dd;
  align-items: center;
  margin-right: 16px;
  cursor: pointer;

  svg {
    color: #ff00dd;
    transition: transform 0.2s ease;
  }

  .whats-new__text {
    font-size: 16px;
    padding-left: 6px;
  }

  &:hover svg {
    transform: scale(1.2) rotate(5deg);
  }
}

.btn__icon {
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;

  svg {
    opacity: 0.7;
  }

  &:hover {
    svg {
      opacity: 1;
    }
  }

  &.active {
    svg {
      color: var(--active-control-color);
      opacity: 1;
    }
  }

  &:disabled {
    svg {
      opacity: 0.2 !important;
    }

    cursor: default;
  }
}

.btn__setting {
  appearance: none;
  background-color: var(--button-background-color);
  border: 1px solid var(--button-border-color);
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  height: 36px;
  color: var(--button-text-color);
  display: inline-block;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 5px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: var(--button-hover-background-color);
    text-decoration: none;
  }

  &:active {
    background-color: var(--button-active-background-color);
  }

  &.btn__setting--active {
    background-color: #bebebe;
  }

  &[disabled] {
    color: var(--colors-gray-600);
    background-color: var(--colors-gray-200);
    pointer-events: none;
  }
}

.btn__setting.primary {
  color: #fff;
  background-color: var(--colors-blue-600);

  &:hover {
    background-color: var(--colors-blue-700);
    text-decoration: none;
  }

  &:active {
    background-color: var(--colors-blue-800);
  }

  &:focus {
    outline: 1px solid var(--colors-gray-900);
  }

  &[disabled] {
    color: var(--colors-gray-600);
    background-color: var(--colors-gray-200);
    pointer-events: none;
  }
}

.btn__setting.borderless {
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: none;

  &:hover,
  &:active {
    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
  }
}

.bookmarks-menu .file-input-container {
  position: relative;
  display: inline-block;
}

.hidden-file-input {
  position: absolute;
  top: 0;
  left: 4px;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.modal-inner.spaces-settings-modal {
  /** TODO support dark styles*/

  max-width: 492px;

  .spaces-settings-modal__list {
    min-height: 180px;
    margin-top: 32px;
  }

  .space-item {
    height: 30px;
    margin: 8px 0;
    display: flex;
  }

  .space-item__title {
    min-width: 166px;
    display: inline-block;
    cursor: pointer;
  }

  textarea {
    font-size: 16px;
    width: 160px;
    margin-top: -3px;
    margin-left: -3px;
    margin-right: 5px;
  }

  .space-item__title.active {
    color: var(--active-control-color);
  }

  button {
    height: 32px;
    margin-left: 8px;
    min-width: 66px;
  }

  .new-space-button {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 150px;
    padding: 8px;
    margin-left: -8px;
    border-radius: 4px;
    margin-top: 12px;
    text-decoration: underline;

    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.8);
    }
  }
}

.beta-mode-label {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
  cursor: pointer;
  opacity: 0.7;
  user-select: none;

  svg {
    pointer-events: none;
  }

  &.active {
    opacity: 1;
    color: var(--active-control-color);

    svg {
      color: var(--active-control-color);
    }
  }

  &:hover {
    opacity: 1;
  }
}

.folder {
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 8px 28px;
  user-select: none;
}
