@use "./variables" as *;

/* DAD styles */
body.dragging * {
  pointer-events: none;
}

.dad-dummy {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  box-sizing: content-box;
  /*background-color: var(--sidebar-background-color);*/
  border-radius: 8px;
  pointer-events: none;
  /*border: 1px solid var(--colors-gray-600);*/
  /*opacity: 0.8;*/
}

.dad-dummy--folder-item {
  padding: 0 6px;
  left: -7px;
}

.dad-highlighted-area {
  outline: 1px solid crimson;
}

.bm-item-placeholder {
  position: absolute;
  background-color: blue;
  height: 2px;
  width: calc(100% - 24px);
  margin-left: 24px;
}

.bm-folder-placeholder {
  position: absolute;
  z-index: 1;
  background-color: blue;
  width: 2px;
  height: 100px;
}

.tabowski-caption {
  font-size: 22px;
  padding-top: 6px;
  padding-left: 12px;
  font-weight: 100;
  font-style: italic;
  color: var(--colors-gray-600);
}
