.root {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 68px;
  box-sizing: border-box;
  padding: 12px 0 16px 72px;
}

.scrolled {
  border-bottom: 1px solid var(--border-color);
}

.searchResultsHeader {
  line-height: 40px;
  margin-right: 12px;
  font-size: 18px;
  font-weight: 600;
  padding: 0 6px;
  opacity: 0.7;
}

.stretchingSpace {
  flex-grow: 1;
}

.searchWrapper {
  display: flex;
  margin-right: 12px;
  position: relative;
}

.searchIcon {
  position: absolute;
  margin-top: 13px;
  margin-left: 8px;
  opacity: 0.5;
}

.clearSearchButton {
  position: absolute;
  left: 155px;
  top: 9px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 12px;
  box-sizing: border-box;
  line-height: 14px;
  padding: 0;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.menuButtons {
  display: flex;
  height: 40px;
  margin-right: 8px;

  :global(.btn__setting) {
    margin-right: 8px;
  }
}
