.wrapper {
  pointer-events: none;
  position: fixed;
  z-index: 1;
  display: flex;
  bottom: 4px;
  width: 100%;
  justify-content: center;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

:global(.collapsible-sidebar) .wrapper {
  padding-left: 0;
}

.toolbar {
  pointer-events: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 48px;
  padding: 0 4px;
  border-radius: 8px;
  background-color: var(--popup-background-color);
  filter: drop-shadow(2px 0px 8px rgba(0, 0, 0, 0.1));

  :global(.dropdown-menu__anchor) {
    left: 0;
  }
}

.button {
  width: 48px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: no-repeat;
  cursor: pointer;

  svg {
    opacity: 0.7;
  }

  &:hover,
  &.active {
    svg {
      color: var(--active-control-color);
      opacity: 1;
    }
  }
}
